In [29]:
import sys
_ = !{sys.executable} -m pip install numpy pandas
import numpy as np
import pandas as pd
TOKEN = "YOR_OWN_TOKEN"

In [30]:
sale_lines = pd.read_csv("https://hive.frontdoorhd.com/sam/reports/sale_lines.csv?options=show&start=1&end=2575158400&sid=%s" % TOKEN, delimiter = ";", encoding = "Cp1252")

In [35]:
print("Sales by customer")
pd.pivot_table(sale_lines, values = "price_vat", index = ["customer.name"], columns = ["year_s"], aggfunc = np.sum, fill_value = 0, margins = True)

Sales by customer

year_s,2015,2016,2017,2018,2019,All
customer.name,,,,,,
"Lugar das J贸ias - Ourivesaria, Lda.",3321.00,9163.50,0.00,0,0,12484.50
Microsoft Corporation,0.00,42650.10,7052.15,0,0,49702.25
Platforme International Limited,0.00,28186.21,134575.30,67500,59840,290101.51
Ripe Productions Limited,0.00,49735.06,0.00,0,0,49735.06
Ripe Productions Limited - Sucursal em Portugal,122320.04,82674.45,0.00,0,0,204994.49
Rocksauce Studios LLC,75774.62,0.00,0.00,0,0,75774.62
"Toptal, LLC",66272.23,0.00,0.00,0,0,66272.23
All,267687.89,212409.32,141627.45,67500,59840,749064.66