In [35]:
import sys
_ = !{sys.executable} -m pip install numpy pandas
import numpy as np
import pandas as pd

In [36]:
zoo = pd.read_csv("zoo.csv", delimiter = ",")
hungry = zoo[zoo.water_need > 500][["animal", "uniq_id"]]
hungry

      animal  uniq_id
1   elephant     1002
2   elephant     1003
16      lion     1017