In [17]:
import sys
!{sys.executable} -m numpy pandas
import numpy as np
import pandas as pd

/usr/local/opt/python/bin/python3.7: No module named numpy.__main__; 'numpy' is a package and cannot be directly executed

In [18]:
zoo = pd.read_csv("zoo.csv", delimiter = ",")
hungry = zoo[zoo.water_need > 500][["animal", "uniq_id"]]
hungry

      animal
1   elephant
2   elephant
16      lion