In [89]:
import sys
_ = !{sys.executable} -m pip install numpy pandas
import numpy as np
import pandas as pd

In [90]:
zoo = pd.read_csv("https://raw.githubusercontent.com/joamag/pandas/master/zoo.csv", delimiter = ",")
hungry = zoo[zoo.water_need > 500][["animal", "uniq_id"]]
print("The animals considered to be hungry...")
hungry

The animals considered to be hungry...

      animal  uniq_id
1   elephant     1002
2   elephant     1003
16      lion     1017

In [91]:
print("The mean water need for the complete set of animals")
zoo.mean(axis = 0).loc["water_need"]

The mean water need for the complete set of animals

(347.72727272727275+0j)

In [92]:
print("The mean water need for the 'fat' animals")
zoo[zoo.water_need > 500].mean(axis = 0).loc["water_need"]

The mean water need for the 'fat' animals

583.3333333333334

In [93]:
print("Animals sorted by the water needed")
zoo.sort_values(by = ["water_need"])

Animals sorted by the water needed

      animal  uniq_id  water_need
14     zebra     1015          80
13     zebra     1014         100
8      zebra     1009         200
9      zebra     1010         220
12     zebra     1013         220
11     zebra     1012         230
10     zebra     1011         240
6      tiger     1007         290
3      tiger     1004         300
7      tiger     1008         310
4      tiger     1005         320
5      tiger     1006         330
18      lion     1019         390
19  kangaroo     1020         410
21  kangaroo     1022         410
15      lion     1016         420
20  kangaroo     1021         430
17      lion     1018         500
0   elephant     1001         500
2   elephant     1003         550
16      lion     1017         600
1   elephant     1002         600