In [83]:
import sys
_ = !{sys.executable} -m pip install numpy pandas
import numpy as np
import pandas as pd

In [84]:
zoo = pd.read_csv("zoo.csv", delimiter = ",")
hungry = zoo[zoo.water_need > 500][["animal", "uniq_id"]]
print("The animals considered to be hungry...")
hungry

The animals considered to be hungry...

      animal  uniq_id
1   elephant     1002
2   elephant     1003
16      lion     1017

In [85]:
print("The mean water need for the complete set of animals")
zoo.mean(axis = 0).loc["water_need"]

The mean water need for the complete set of animals

347.72727272727275

In [86]:
print("The mean water need for the 'fat' animals")
zoo[zoo.water_need > 500].mean(axis = 0).loc["water_need"]

The mean water need for the 'fat' animals

583.3333333333334